<template>
  <div id="app">
    <h1>States</h1>
    <h3>Count: {{count}}</h3>
    <h3>Soma estado local com estado do store: {{sum}}</h3>

    <hr>
    <h1>Getters</h1>
    <h3>From Japan: {{fromJapan}}</h3>
    <h3>Total from Japan: {{fromJapanLength}}</h3>
    <h3>By ID: {{getById}}</h3>

    <hr>
    <h1>Methods</h1>
    <h3>Count: {{count}}</h3>
    <button @click="INCREMENT">Increment</button> |
    <button @click="INCREMENT_BY(value)">Increment By {{value}}</button> |
    <button @click="INCREMENT_OBJECT(my_payload)">Increment By Payload {{my_payload.amount}}</button>

    <hr>
    <h1>Actions</h1>
    <h3>Count: {{count}}</h3>
    <button @click="increment_action_async(5000)">Increment Async</button> 
    <br><br>

    <label>Time do payload: </label>
    <input type="text" placeholder="Digite o time" v-model="my_payload.time"> 
    <br><br>
    <label>Time do payload: {{my_payload.time}}</label><br>
    <button @click="increment_action_async_payload(my_payload)">Increment Async Payload</button>
  </div>
</template>

<script>
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'

export default {
  data(){
    return{
      localState: 10,
      value: 11,
      my_payload: {
        amount: 25,
        time: 3000
      }
    }
  },
  computed: {
     sum(){
       console.log(this.$store.state.count, this.localState)
       return this.$store.state.count + this.localState
     },

      //chama getter que possui paramentro
      getById(){
        return this.$store.getters.getPersonagemById(3)
      },

    ...mapState(['count']),
    ...mapGetters(['fromJapan', 'fromJapanLength']),  
  },
  methods: {
    ...mapMutations(['INCREMENT', 'INCREMENT_BY', 'INCREMENT_OBJECT']),

    ...mapActions(['increment_action_async', 'increment_action_async_payload'])
  } 
    
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
